@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-black;
    @apply font-medium;
    scroll-behavior: smooth;
    --nav-height: 4rem;
  }

  body {
    overflow-x: hidden;
  }

  button,
  a {
    -webkit-tap-highlight-color: transparent;
  }

  @media (max-width: 768px) {
    html {
      --nav-height: 0pw;
    }
  }
}
